body {
    font-family: "Poppins", sans-serif;
    background-image: url('https://images8.alphacoders.com/100/thumb-1920-1003220.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
 .main{
    color: aliceblue;
    padding: auto;
    margin-left: 6cm;

 }
 .reports{
     margin-left: 10cm;
     color: aliceblue;
     padding-bottom: 10cm;
     margin-top: -1cm;
 }
 .logout{
    text-decoration: crimson;
    padding: 10px 26px;
    margin-top: -11.5cm;
    display: inline-block;
    float: right;
    

 }
.logout a{
    color: #bd0000;
}
 .form{
     opacity: 90%;
     padding-bottom: 100px;
     padding-top: 260px;
     padding-right: 100px;
     padding-left: 100px;
     background-color:black;
     margin-top: -8cm;
     margin-left:4cm;
     margin-right: 4cm;
 }
 .head{
     color: aliceblue;
     margin-top: -7cm;
     margin-left: -1cm;
 }
 .sbname{
     margin-left:9cm;
     color: aliceblue;
 }
 .form1{
     color: aliceblue;
     margin-left:7cm;
 }
 .or{
     margin-left: 4.5cm;
 }
 .form2{
     color: aliceblue;
 }
.btn{
    background: #bd0000;
    color: #ffffff;
    border: 0;
    padding: 5px;
    cursor: pointer;
}